<%- include('../partials/header'); %>

<section class="section">
    <div class="container">
        <h1 class="title">
            Oh no! Server error! Don't worry, we recorded it and are looking into what happened.
        </h1>
    </div>
</section>

<%- include('../partials/footer'); %>