<%- include('../partials/header'); %>

<section class="section">
    <div class="container">
        <h1 class="title">
            Hmm... there doesn't seem to be anything here.
        </h1>
        <p class="subtitle">
            <img src="/images/homer.gif" alt="404 not found">
        </p>
    </div>
</section>

<%- include('../partials/footer'); %>