<%- include('../partials/header'); %>

<section class="section">
    <div class="container">
        <h1 class="title">
            Hello, world.
        </h1>
        <p class="subtitle">
            Today is <%= new Date().toDateString();%>
        </p>
    </div>
</section>

<%- include('../partials/footer'); %>