<%- include('../partials/header'); %>

<section class="section">
    <div class="container">
      <form action="/login" method="post">
        <input type="text" placeholder="enter passphrase" id="appPassphrase" name="appPassphrase">
        <input type="submit">
      </form>
    </div>
</section>

<%- include('../partials/footer'); %>